body {
  background-color: white;
  text-align: center;
}
button {
  color: rgb(54, 54, 54);
  background-color: white;
  font-size: 18px;
  text-align: left;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}

p {
  color: black;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.personBox {
  display: flex;
  flex-flow: column;
  align-content: stretch;
}
